@page "/admincustomersall"

@using WebbLabb2.Client.PublicClient
@inject PublicClient PublicClient

<link href="css/CommonStyles.css" rel="stylesheet" />

<PageTitle>All Customers</PageTitle>

<h4 style="margin-top: 50px;">All customers</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="color-store-primary">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        @foreach (var item in AllCustomers)
        {
            <tr class="tr-hover">
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.CellNumber</td>
                <td>
                    @item.StreetAddress<br />
                    @item.ZipCode, @item.City
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
