@page "/admin"

@using WebbLabb2.Client.PublicClient

@inject PublicClient PublicClient

<PageTitle>Admin</PageTitle>

<h4>Product options</h4>

<div class="mb-3">
    <NavLink class="nav-link" href="adminproductadd">
        <button class="btn btn-outline-danger">
            <span class="oi oi-plus" aria-hidden="true"></span> Add Product
        </button>
    </NavLink>
    <NavLink class="nav-link" href="adminproductsearch">
        <button class="btn btn-outline-danger">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search / Edit Product By Name
    </button>
    </NavLink>
    <NavLink class="nav-link" href="adminproductedit">
        <button class="btn btn-outline-danger">
            <span class="oi oi-wrench" aria-hidden="true"></span> Edit / Remove Product
        </button>
    </NavLink>
    <NavLink class="nav-link" href="adminproductsall">
    <button class="btn btn-outline-danger">
        <span class="oi oi-list" aria-hidden="true"></span> Products
    </button>
    </NavLink>
</div>

<h4>Customer options</h4>

<div class="mb-3">
    <NavLink class="nav-link" href="#">
        <button class="btn btn-outline-danger">
            <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search / Edit Customer By Email
        </button>
    </NavLink>
    <NavLink class="nav-link" href="#">
        <button class="btn btn-outline-danger">
            <span class="oi oi-wrench" aria-hidden="true"></span> Edit / Remove Customer
        </button>
    </NavLink>
    <NavLink class="nav-link" href="#">
    <button class="btn btn-outline-danger">
        <span class="oi oi-list" aria-hidden="true"></span> Customers
    </button>
    </NavLink>
</div>

<h4>Order options</h4>

<div class="mb-3">
    <NavLink class="nav-link" href="#">
    <button class="btn btn-outline-danger">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search / Edit Order By Customer Email
    </button>
    </NavLink>
    <NavLink class="nav-link" href="#">
    <button class="btn btn-outline-danger">
        <span class="oi oi-wrench" aria-hidden="true"></span> Edit / Remove Order
    </button>
    </NavLink>
    <NavLink class="nav-link" href="#">
    <button class="btn btn-outline-danger">
        <span class="oi oi-list" aria-hidden="true"></span> Orders
    </button>
    </NavLink>
</div>

<h4 style="margin-top: 50px;">All customers</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="color-store-primary">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (var item in AllCustomers)
            {
                <tr class="tr-hover">
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.CellNumber</td>
                    <td>
                        @item.StreetAddress<br />
                        @item.ZipCode, @item.City
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4 style="margin-top: 50px;">Search customer by Email</h4>
<EditForm Model="Customer" OnValidSubmit="GetCustomerByEmail">
    <div class="form-control">
        <InputText @bind-Value="Email"></InputText>
        <button class="btn btn-primary">Search</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="color-store-primary">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr class="tr-hover">
                    <td>@Customer.FirstName @Customer.LastName</td>
                    <td>@Customer.Email</td>
                    <td>@Customer.CellNumber</td>
                    <td>
                        @Customer.StreetAddress<br />
                        @if (@Customer.ZipCode == 0) { }
                        else
                        {
                            @Customer.ZipCode
                        } @Customer.City
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</EditForm>
