@page "/products"
@using WebbLabb2.Client.PublicClient

@inject PublicClient PublicClient

<PageTitle>Products</PageTitle>

<h3>Products</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="color-store-primary">
            <tr>
                <th></th>
                <th>Item</th>
                <th>Price</th>
                <th>Category</th>
                <th>In stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (var item in AllProducts)
            {
                <tr class="tr-hover">
                    <td>
                        <div class="modal-dialog modal-dialog-centered img-fluid-container">
                            <img alt="" class="img-fluid-store" src="@item.ProductImage"/>
                        </div>
                    </td>
                    <td>@item.ProductName<br /><span class="text-secondary">@item.ProductDescription</span></td>
                    <td>$@item.ProductPrice</td>
                    <td>@item.ProductCategory</td>
                    <td>
                        @if (item.ProductStatus)
                        {
                            <InputCheckbox class="form-check-input" style="opacity: 1; background-color: indianred; border: 0;" Disabled="true" @bind-Value="@item.ProductStatus"/>
                        }
                        else
                        {
                            <InputCheckbox class="form-check-input" style="opacity: 0.4; background-color: gray; border: 0;" Disabled="true" @bind-Value="@item.ProductStatus" />
                        }
                    </td>
                    <td>
                        <button class="btn btn-store-primary"><span class="oi oi-cart"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<EditForm Model="CurrentProduct" OnSubmit="SaveProduct">
    <div class="form-control">
        <label>Product number:</label>
        <InputNumber @bind-Value="CurrentProduct.ProductNumber"></InputNumber>
    </div>
    <div class="form-control mt-2">
        <label>Product name:</label>
        <InputText @bind-Value="CurrentProduct.ProductName"></InputText>
    </div>
    <div class="form-control mt-2">
        <label>Product description:</label>
        <InputTextArea @bind-Value="CurrentProduct.ProductDescription"></InputTextArea>
    </div>
    <div class="form-control mt-2">
        <label>Product price:</label>
        <InputNumber @bind-Value="CurrentProduct.ProductPrice"></InputNumber>
    </div>
    <div class="form-control mt-2">
        <label>Product category:</label>
        <InputText @bind-Value="CurrentProduct.ProductCategory"></InputText>
    </div>
    <div class="form-control mt-2">
        <label>Product available:</label>
        <InputCheckbox @bind-Value="CurrentProduct.ProductStatus"></InputCheckbox>
    </div>
    <div class="form-control mt-2">
        <label>Product image link:</label>
        <InputText @bind-Value="CurrentProduct.ProductImage"></InputText>
    </div>
    <button class="btn btn-primary mt-2">Save</button>
</EditForm>