@page "/admincustomersearch"

@using WebbLabb2.Client.PublicClient
@using Microsoft.IdentityModel.Tokens
@using WebbLabb2.Client.Pages.ConfirmationDialogs

@inject PublicClient PublicClient

<link href="css/commonstyles.css" rel="stylesheet" />

<PageTitle>Admin - Search / Edit Customer</PageTitle>

<h4>Search / Edit Customer</h4>

<EditForm Model="Customer" OnValidSubmit="GetCustomerByEmail">
    <div class="form-control">
        <InputText @bind-Value="Email"></InputText>
        <button class="btn btn-store-primary">Search</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="color-store-primary">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr class="tr-hover">
                <td>@Customer.FirstName @Customer.LastName</td>
                <td>@Customer.Email</td>
                <td>@Customer.CellNumber</td>
                <td>
                    @Customer.StreetAddress<br />
                    @if (@Customer.ZipCode == 0) { }
                    else
                    {
                        @Customer.ZipCode
                    }&nbsp;@Customer.City
                </td>
                <td>
                    @if (Customer.Email == "Not found")
                    {
                        <button class="btn btn-close" disabled="disabled"></button>
                    }
                    else
                    {
                        <button class="btn btn-close" @onmouseup="() => ShowDialog = true" @onclick="() => SetCurrentCustomerId(Customer.Id)"></button>
                    }
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</EditForm>

@if (SelectedCustomerEmail.IsNullOrEmpty()) { }
else
{
    <div>
        <EditForm Model="SelectedCustomerEmail" OnSubmit="UpdateCustomer">

            <label class="fw-bold">First Name:</label>
            <InputText class="w-100" @bind-Value="Customer.FirstName"></InputText>

            <label class="fw-bold mt-2">Last Name:</label>
            <InputText class="w-100" @bind-Value="Customer.LastName"></InputText>

            <label class="fw-bold mt-2">Email:</label>
            <InputText class="w-100" @bind-Value="Customer.Email" disabled="disabled"></InputText>

            <label class="fw-bold mt-2">Cell Number:</label>
            <InputText class="w-100" @bind-Value="Customer.CellNumber"></InputText>

            <label class="fw-bold mt-2">Street Address:</label>
            <InputText class="w-100" @bind-Value="Customer.StreetAddress"></InputText>

            <label class="fw-bold mt-2">City:</label>
            <InputText class="w-100" @bind-Value="Customer.City"></InputText>

            <label class="fw-bold mt-2">Zip Code:</label>
            <InputNumber class="w-100" @bind-Value="Customer.ZipCode"></InputNumber>

            <button class="btn btn-primary mt-2 mb-5">Save</button>

        </EditForm>
    </div>
}

@if (ShowDialog)
{
    <ConfirmationDialog Title="Are you sure?" Message="Pressing 'Yes' will remove the selected customer." OnConfirmed="@OnConfirmed" OnCancelled="@Close"/>
}